* {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.4;
	color: #FFFFFF;
	background-color: #000000;
}

/* .page */
.page {
	padding-top: 90px;
}

.page__container {
	max-width: 700px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.page__heading {
	font-weight: 900;
	font-size: 60px;
	line-height: 73px;
	text-align: center;
}

.page__footer {
	text-align: center;
	color: #898989;
	padding-top: 100px;
}


/* .todolist */
.todo__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.todo__item {
	margin-bottom: 10px;
}

.todo__form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.todo__input {
	flex-grow: 1;
	margin-right: 10px;
}

/* .task */
.task {
	border: 1px solid #6F6F6F;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 43px 45px 44px 45px;
}

.task__controls {
	width: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task__btn {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.task__name {
	margin: 0;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
}


/* .input */
.input {
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 21px;
	border: none;
}

/* .button */
.button {
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 21px;
	border: none;
}
